<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lonepulse.robozombie"
    android:versionCode="1"
    android:versionName="1.1.0-SNAPSHOT" >

	<uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15"
        tools:ignore="OldTargetApi"/>

    <application />

</manifest>