<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}" />

    <title>{{ site.name }}</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="{% if page.tag == 'docpg' %}../{% endif %}stylesheets/main.css">
    <link rel="stylesheet" href="{% if page.tag == 'docpg' %}../{% endif %}stylesheets/pygment_trac.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".contents" data-offset="200" data-offset-bottom="200">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://github.com/sahan/RoboZombie"><b><img src="{% if page.tag == 'docpg' %}../{% endif %}images/logo.png"/> ROBOZOMBIE</b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if page.tag == 'home' %}
			<li class="active"><a href="#">Home</a></li>
            {% else %}
            <li><a href="{% if page.tag == 'docpg' %}../{% endif %}index.html">Home</a></li>
            {% endif %}

            {% if page.tag == 'docs' %}
            <li class="active"><a href="#">Documentation</a></li>
            {% else %}
            <li><a href="{% if page.tag == 'docpg' %}../{% endif %}docs.html">Documentation</a></li>
            {% endif %}

            {% if page.tag == 'setup' %} 
			<li class="active"><a href="#">Setup</a></li>
            {% else %}
            <li><a href="{% if page.tag == 'docpg' %}../{% endif %}setup.html">Setup</a></li>
            {% endif %}
			<li><a href="api/index.html" target="_blank">API</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <p class="slogan">Effortless Android Networking</p>
        <div class="definition">
        <h4><b>robozombie &nbsp;&nbsp;/rō-bō'zŏm'bē/ &nbsp;&nbsp;noun.</b></h4>
        <p class="subtext"><b>1.</b> Accepts an annotated interface which describes a remote service to give you a proxy implementation of it. &nbsp;&nbsp;<b>2.</b> Invoke the methods on the proxy to make network calls.</p>
        </div>
        <br>
        <div>
          <a class="btn btn-trans btn-lg" role="button" href="https://github.com/sahan/RoboZombie"><i class="fa fa-github"></i> &nbsp;&nbsp;Fork me on GitHub</a>
          &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-trans btn-lg" role="button" href="http://repo1.maven.org/maven2/com/lonepulse/robozombie/1.3.2/robozombie-1.3.2.jar"><i class="fa fa-download"></i> &nbsp;&nbsp;robozombie-1.3.2.jar</a>
        </div>
      </div>
    </div>

    <div class="container">

      {% if page.tag == 'docs' %}
      <div class="row">
      <div class="col-md-3 contents">
      <ol class="nav nav-pills nav-stacked affix" data-spy="affix" data-offset-top="350" data-offset-bottom="200">
        <li class="active"><a href="#1">1. Quickstart</a></li>
        <li><a href="#2">2. Defining, Injecting and Invoking</a></li>
        <li><a href="#3">3. Identifying HTTP Methods</a></li>
        <li><a href="#4">4. Sending Query and Form Parameters</a></li>
        <li><a href="#5">5. Sending a Request Body</a></li>
        <li><a href="#6">6. Serializing Request Content</a></li>
        <li><a href="#7">7. Receiving a Response Body</a></li>
        <li><a href="#8">8. Deserializing Response Content</a></li>
        <li><a href="#9">9. Sending and Receiving Headers</a></li>
        <li><a href="#10">10. Executing Requests Asynchronously</a></li>
        <li><a href="#11">11. Creating Stateful Endpoints</a></li>
        <li><a href="#12">12. Intercepting Requests</a></li>
        <li><a href="#13">13. Overriding, Detaching and Skipping</a></li>
        <li><a href="#14">14. Wiring and Injecting Endpoints</a></li>
        <li><a href="#15">15. Configuring RoboZombie</a></li>
      </ol>
      </div>
      <div class="col-md-9 page">
      {% endif %}

      {{ content }}

      {% if page.tag == 'docs' %}
      </div>
      </div>
      {% endif %}

      <br>
      <br>
      <hr>
      <footer>
        <p class="license">This library is licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License, Version 2.0</a>. &nbsp;For Android&trade; license information visit <a href="http://developer.android.com/license.html" target="_blank">android.com</a>.</p>
        <p>&copy; 2013 - 2014 Lonepulse. All rights reserved.</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>